<h3>Github Followers</h3>
<div *ngFor="let follower of followers" class="media">
  <div class="media-left">
    <a [routerLink]="['/followers', follower.login, follower.id]">
      <img class="avatar media-object" src="{{ follower.avatar_url }}" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">
    <a [routerLink]="['/followers', follower.login, follower.id]">{{ follower.login }}</a>
    </h4>
    <a href="{{follower.html_url}}" target="_blank">{{ follower.html_url }}</a>
  </div>
</div>
